@import "tailwindcss";

@theme inline {
  --color-RedP: #EC1D24;
  --font-Manrope: "Manrope", sans-serif;
  --font-Inter: "Inter", sans-serif;
}

body {
  font-family: "Manrope", sans-serif;
}

.maxW {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2%;
}

.bgMain {
  background-image: url('/main-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.bgService {
  background-image: url('/service2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgDepo {
  background-image: url('/about-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Inter", sans-serif;

}